# Serdes area constraints
INST "algo/deserialize_energies/deserialize_loop[0].deserialize" AREA_GROUP=deser_x1y0;
INST "algo/deserialize_energies/deserialize_loop[1].deserialize" AREA_GROUP=deser_x1y1;
INST "algo/deserialize_energies/deserialize_loop[2].deserialize" AREA_GROUP=deser_x1y2;
INST "algo/deserialize_energies/deserialize_loop[3].deserialize" AREA_GROUP=deser_x1y3;
INST "algo/deserialize_energies/deserialize_loop[4].deserialize" AREA_GROUP=deser_x1y4;
INST "algo/deserialize_energies/deserialize_loop[5].deserialize" AREA_GROUP=deser_x1y5;
INST "algo/deserialize_energies/deserialize_loop[6].deserialize" AREA_GROUP=deser_x1y6;
INST "algo/deserialize_muons/deserialize_loop[0].deserialize" AREA_GROUP=deser_x0y0;
INST "algo/deserialize_muons/deserialize_loop[1].deserialize" AREA_GROUP=deser_x0y1;
INST "algo/deserialize_muons/deserialize_loop[2].deserialize" AREA_GROUP=deser_x0y2;
INST "algo/deserialize_muons/deserialize_loop[3].deserialize" AREA_GROUP=deser_x0y3;
INST "algo/deserialize_muons/deserialize_loop[4].deserialize" AREA_GROUP=deser_x0y4;
INST "algo/deserialize_muons/deserialize_loop[5].deserialize" AREA_GROUP=deser_x0y5;
INST "algo/deserialize_muons/deserialize_loop[6].deserialize" AREA_GROUP=deser_x0y6;
INST "algo/deserialize_muons/deserialize_loop[7].deserialize" AREA_GROUP=deser_x0y7;
INST "algo/deserialize_muons/deserialize_loop[8].deserialize" AREA_GROUP=deser_x0y8;

INST "algo/serialize" AREA_GROUP=ser_x1y8;

# Additional resources for quads
AREA_GROUP deser_x0y0 RANGE=SLICE_X40Y0:SLICE_X45Y49;
AREA_GROUP deser_x0y0 RANGE=RAMB36_X2Y0:RAMB36_X2Y9;
AREA_GROUP deser_x0y0 RANGE=RAMB18_X2Y0:RAMB18_X2Y19;

AREA_GROUP deser_x0y1 RANGE=SLICE_X40Y50:SLICE_X45Y99;
AREA_GROUP deser_x0y1 RANGE=RAMB36_X2Y10:RAMB36_X2Y19;
AREA_GROUP deser_x0y1 RANGE=RAMB18_X2Y20:RAMB18_X2Y39;

AREA_GROUP deser_x0y2 RANGE=SLICE_X40Y100:SLICE_X45Y149;
AREA_GROUP deser_x0y2 RANGE=RAMB36_X2Y20:RAMB36_X2Y29;
AREA_GROUP deser_x0y2 RANGE=RAMB18_X2Y40:RAMB18_X2Y59;

AREA_GROUP deser_x0y3 RANGE=SLICE_X40Y150:SLICE_X45Y199;
AREA_GROUP deser_x0y3 RANGE=RAMB36_X2Y30:RAMB36_X2Y39;
AREA_GROUP deser_x0y3 RANGE=RAMB18_X2Y60:RAMB18_X2Y79;

AREA_GROUP deser_x0y4 RANGE=SLICE_X40Y200:SLICE_X45Y249;
AREA_GROUP deser_x0y4 RANGE=RAMB36_X2Y40:RAMB36_X2Y49;
AREA_GROUP deser_x0y4 RANGE=RAMB18_X2Y80:RAMB18_X2Y99;

AREA_GROUP deser_x0y5 RANGE=SLICE_X40Y250:SLICE_X45Y299;
AREA_GROUP deser_x0y5 RANGE=RAMB36_X2Y50:RAMB36_X2Y59;
AREA_GROUP deser_x0y5 RANGE=RAMB18_X2Y100:RAMB18_X2Y119;

AREA_GROUP deser_x0y6 RANGE=SLICE_X40Y300:SLICE_X45Y349;
AREA_GROUP deser_x0y6 RANGE=RAMB36_X2Y60:RAMB36_X2Y69;
AREA_GROUP deser_x0y6 RANGE=RAMB18_X2Y120:RAMB18_X2Y139;

AREA_GROUP deser_x0y7 RANGE=SLICE_X40Y350:SLICE_X45Y399;
AREA_GROUP deser_x0y7 RANGE=RAMB36_X2Y70:RAMB36_X2Y79;
AREA_GROUP deser_x0y7 RANGE=RAMB18_X2Y140:RAMB18_X2Y159;

AREA_GROUP deser_x0y8 RANGE=SLICE_X40Y400:SLICE_X45Y449;
AREA_GROUP deser_x0y8 RANGE=RAMB36_X2Y80:RAMB36_X2Y89;
AREA_GROUP deser_x0y8 RANGE=RAMB18_X2Y160:RAMB18_X2Y179;

AREA_GROUP deser_x1y0 RANGE=SLICE_X172Y0:SLICE_X179Y49;
AREA_GROUP deser_x1y1 RANGE=SLICE_X172Y50:SLICE_X179Y99;
AREA_GROUP deser_x1y2 RANGE=SLICE_X172Y100:SLICE_X179Y149;
AREA_GROUP deser_x1y3 RANGE=SLICE_X172Y150:SLICE_X179Y199;
AREA_GROUP deser_x1y4 RANGE=SLICE_X172Y200:SLICE_X179Y249;
AREA_GROUP deser_x1y5 RANGE=SLICE_X172Y250:SLICE_X179Y299;
AREA_GROUP deser_x1y6 RANGE=SLICE_X172Y300:SLICE_X179Y349;

AREA_GROUP ser_x1y8 RANGE=SLICE_X172Y50:SLICE_X179Y449;


# Algo area constraints
INST  "algo/uGMT/sort_and_cancel/cou_f_plus" AREA_GROUP=cou_f_plus;
AREA_GROUP cou_f_plus RANGE=SLICE_X46Y400:SLICE_X83Y449;

INST  "algo/uGMT/sort_and_cancel/cou_fo_plus" AREA_GROUP=cou_fo_plus;
AREA_GROUP cou_fo_plus RANGE=SLICE_X46Y350:SLICE_X83Y399;

INST  "algo/uGMT/sort_and_cancel/cou_o_plus" AREA_GROUP=cou_o_plus;
AREA_GROUP cou_o_plus RANGE=SLICE_X46Y300:SLICE_X83Y349;

INST  "algo/uGMT/sort_and_cancel/cou_bo_plus" AREA_GROUP=cou_bo_plus;
AREA_GROUP cou_bo_plus RANGE=SLICE_X46Y250:SLICE_X105Y299;

INST  "algo/uGMT/sort_and_cancel/cou_b" AREA_GROUP=cou_b;
AREA_GROUP cou_b RANGE=SLICE_X46Y200:SLICE_X105Y249;

INST  "algo/uGMT/sort_and_cancel/cou_bo_minus" AREA_GROUP=cou_bo_minus;
AREA_GROUP cou_bo_minus RANGE=SLICE_X46Y150:SLICE_X105Y199;

INST  "algo/uGMT/sort_and_cancel/cou_o_minus" AREA_GROUP=cou_o_minus;
AREA_GROUP cou_o_minus RANGE=SLICE_X46Y100:SLICE_X83Y149;

INST  "algo/uGMT/sort_and_cancel/cou_fo_minus" AREA_GROUP=cou_fo_minus;
AREA_GROUP cou_fo_minus RANGE=SLICE_X46Y50:SLICE_X83Y99;

INST  "algo/uGMT/sort_and_cancel/cou_f_minus" AREA_GROUP=cou_f_minus;
AREA_GROUP cou_f_minus RANGE=SLICE_X46Y0:SLICE_X83Y49;

INST  "algo/uGMT/sort_and_cancel/sortF_plus" AREA_GROUP=sort_f_plus;
AREA_GROUP sort_f_plus RANGE=SLICE_X106Y400:SLICE_X159Y449;
